a:link{color:#2e5c6e;}
a:visited{color:#2e5c6e}
p{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    margin:20px
}
*
{
    text-align:center;
}
.book_list
{
    font-size:30px;
    font-weight:bold;
}
.book_list:link
{
    color:#c18a26
}
.book_list:visited
{
    color:#c18a26
}
