a:link{color:#2e5c6e;***REMOVED***
a:visited{color:#2e5c6e***REMOVED***
p{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    margin:20px
***REMOVED***
*
{
    text-align:center;
***REMOVED***
.book_list
{
    font-size:30px;
    font-weight:bold;
***REMOVED***
.book_list:link
{
    color:#c18a26
***REMOVED***
.book_list:visited
{
    color:#c18a26
***REMOVED***
