<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load static %}
{% block extra_head  %}
<!--代码高亮 -->
<link rel="stylesheet" href="{% get_static_prefix  %}md_css/{{article.codehilite_style}}.css">

<style>
blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
}
</style>
{% endblock  %}

{% block title %}{{article.title}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- 展示文章的title -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <!-- 展示文章的author -->
        <div class="alert alert-success">作者：<a href="{% url 'blog:profile' article.author  %}" class="alert-link">{{ article.author }}</a></div>
        <!-- 展示文章author的signature -->
        <div class="alert alert-light">{{ article.author.signature }}</div>
        <div class="col-12"></div>
        <div class="col-3 alert alert-light">创建于 {{ article.created |date:"Y/m/d H:i:s"}}</div>
        <div class="col-3 alert alert-light">更新于 {{ article.updated |date:"Y/m/d H:i:s"}}</div>
        <!-- 文章正文 -->
        {%  if request.session.id == article.author.id  %}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                操作
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'blog:update_article' article.id %}">修改</a>
                <a class="dropdown-item" href="{%  url 'blog:delete_article' article.id %}">删除</a>
            </div>
        </div>
        {% if article.censored == False  %}
        <div class="col-12 alert alert-info">待AI审核</div>
        {% elif article.visible == False  %}
        <div class="col-12 alert alert-warning">AI审核不通过，请修改文章后提交</div>
        {% elif article.visible == True  %}
        <div class="col-12 alert alert-success">AI审核通过</div>
        {% endif  %}
        {% endif  %}
        <div class="col-12 bg-light">
            <p>{{ article.body |safe}}</p>
        </div>
    </div>
    <!--评论版-->
    {% if request.session.id %}
    <div>
        <br/>
        <form action="{% url 'blog:post_comment' article.id %}" method="POST" >
            {% csrf_token %}
            <div class="form-group">
                <label for="body">
                    <strong>
                        评论
                    </strong>
                </label>
                <textarea 
                       type="text" 
                       class="form-control" 
                       name="body" 
                       rows="2"></textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="btn btn-primary ">发送</button>                    
        </form>
    </div>
    <br>
    {% else %}
    <br>
    <h5 class="row justify-content-center">
        请<a href="{% url 'blog:login' %}">登录</a>后回复
    </h5>
    <br>
    {% endif %}
    <div>
        {% for comment in comments %}
        <br>

            {% if comment.user == article.author  %}
            <div class="alert alert-success">
                <a href="{% url 'blog:profile' comment.user  %}" class="alert-link">{{ comment.user }}&nbsp
                </a>
                <span style="">
                    {{ comment.created|date:"Y/m/d H:i:s" }}
                </span>
                {% if comment.user.id == request.session.id  %}
                <a href="{% url 'blog:delete_comment' comment.id %}?delete_comment=yes" class="alert-link">&nbsp&nbsp删除
                {% endif  %}
                </a>
            </div>
            {% else  %}
            <div class="alert alert-info">
                <a href="{% url 'blog:profile' comment.user  %}" class="alert-link">{{ comment.user }}&nbsp
                </a>
                <span style="">
                    {{ comment.created|date:"Y/m/d H:i:s" }}
                </span>
                {% if comment.user.id == request.session.id  %}
                <a href="{% url 'blog:delete_comment' comment.id %}?delete_comment=yes" class="alert-link">&nbsp&nbsp删除
                {% endif  %}
                </a>
            </div>
            {% endif  %}
        <div class="col-12 bg-light">
            <p>{{ comment.body |safe}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
