<!DOCTYPE html>
{% extends "blog/base.html" %***REMOVED***
{% load static %***REMOVED***
{% block extra_head  %***REMOVED***
<!--代码高亮 -->
<link rel="stylesheet" href="{% get_static_prefix  %***REMOVED***md_css/{{article.codehilite_style***REMOVED******REMOVED***.css">
{% endblock  %***REMOVED***

{% block title %***REMOVED***{{article.title***REMOVED******REMOVED***{% endblock title %***REMOVED***

{% block content %***REMOVED***
<div class="container">
    <div class="row">
        <!-- 展示文章的title -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title ***REMOVED******REMOVED***</h1>
        <!-- 展示文章的author -->
        <div class="alert alert-success">作者：<a href="{% url 'blog:profile' article.author  %***REMOVED***" class="alert-link">{{ article.author ***REMOVED******REMOVED***</a></div>
        <!-- 展示文章author的signature -->
        <div class="alert alert-light">{{ article.author.signature ***REMOVED******REMOVED***</div>
        <div class="col-12"></div>
        <div class="col-3 alert alert-light">创建于 {{ article.created |date:"Y/m/d H:i:s"***REMOVED******REMOVED***</div>
        <div class="col-3 alert alert-light">更新于 {{ article.updated |date:"Y/m/d H:i:s"***REMOVED******REMOVED***</div>
        <!-- 文章正文 -->
        {%  if request.session.id == article.author.id  %***REMOVED***
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                操作
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'blog:update_article' article.id %***REMOVED***">修改</a>
                <a class="dropdown-item" href="{%  url 'blog:delete_article' article.id %***REMOVED***">删除</a>
            </div>
        </div>
        {% if article.censored == False  %***REMOVED***
        <div class="col-12 alert alert-info">待AI审核</div>
        {% elif article.visible == False  %***REMOVED***
        <div class="col-12 alert alert-warning">AI审核不通过，请修改文章后提交</div>
        {% elif article.visible == True  %***REMOVED***
        <div class="col-12 alert alert-success">AI审核通过</div>
        {% endif  %***REMOVED***
        {% endif  %***REMOVED***
        <div class="col-12 bg-light">
            <p>{{ article.body |safe***REMOVED******REMOVED***</p>
        </div>
    </div>
</div>
{% endblock content %***REMOVED***
