<!DOCTYPE html>
<!-- 定义导航栏 -->
{% load static %***REMOVED***
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> <a class="navbar-brand" href="{% url 'blog:index'  %***REMOVED***" title="点击可以返回主页">Django博客测试</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item "> <a class="nav-link" href="{% url 'blog:hello_world'  %***REMOVED***">快速测试</a> </li>
    </ul>
    <form action="#" method="GET" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 bg-dark text-white" type="text" name="search_text" placeholder="搜索文章标题或内容" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> 搜 索 </button>
    </form>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'blog:create_article'  %***REMOVED***" >写文章</a> </li>
        {%  if request.session.username  %***REMOVED***
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.session.username***REMOVED******REMOVED***</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'blog:profile' request.session.username  %***REMOVED***">个人中心</a>
          <a class="dropdown-item" href="{%  url 'blog:logout'  %***REMOVED***">登出</a>
        </div>
      </li>
        {%  else  %***REMOVED***
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'blog:login'  %***REMOVED***">登录</a> </li>
        {% endif  %***REMOVED***
    </ul>
  </div>
</nav>
<div>
    <br><br><br>
</div>
