{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container col-4 text-center justify-content-center ">
    <form action="#" class="form-signin " method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">修改密码</h1>
        <input type="email" name="email" class="form-control" placeholder="邮箱" value="{{email}}" autocomplete="off" required>
        <input type="password" name="password1" class="form-control" placeholder="新密码" value="{{password1}}" autocomplete="off" required>
        <input type="password" name="password2" class="form-control" placeholder="确认新密码" value="{{password2}}" autocomplete="off" required>

        {% if sent == "yes"  %}
        <input type="text" name="verify_code" class="form-control" placeholder="请输入验证码" autocomplete="off">
        <button class="btn btn-lg btn-success btn-block" type="submit">保存修改</button>
        {% else  %}
        <input type="text" name="verify_code" class="form-control" placeholder="点击下方获取验证码" autocomplete="off">
        <button class="btn btn-lg btn-dark btn-block" type="submit">获取验证码</button>
        {% endif  %}

    </form>
    {%  if err_msg  %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{err_msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    {%  endif  %}
</div>
{% endblock content %}
